# Dependências 
node_modules/

# Arquivos de Segredos 
.env

# Banco de Dados Local 
*.db
*.sqlite
*.sqlite3

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Logs de erro do Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*